<%- include('../admin/layouts/header.ejs') %>
<div class="main-panel">
    <div class="content-wrapper">

        <div class="row ">
            
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-5 ">
                            <ul class="navbar-nav w-100">
                                <li class="nav-item w-100">
                                    <!-- d-none -->
                                    <form action="/admin/searchUsers" method="get" class="nav-link mt-2 mt-md-0 col-12 d-lg-flex search">
                                        <input type="text" name="key" class="form-control mb-1 text-light" placeholder="Search Users">
                                        <button type="submit" class="btn-inverse-info mb-1">search</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <h4 class="card-title">Users</h4>
                        <div class="table-responsive">
                            <table class="table" id="user-table">
                                <thead>
                                    <tr>

                                        <th> User Name </th>
                                        <th> Email </th>
                                        <th> Account status</th>
                                        <th> Start Date </th>
                                        <th> Action</th>
                                        <!-- <th> Orders</th> -->
                                        <th> Edit user</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (var i = 0; i < users.length; i++) { %>
                                        <tr>
                                            <!-- list -->
                                            <td>
                                                <img 
                                                <% if(users[i].image){%>
                                                    src="/user/images/userImages/<%= users[i].image %>"
                                                        <%}else{%>
                                                            src="/user/images/dummy-profile-pr.jpg"
                                                            <%}%>
                                                alt="image" />
                                                <span class="pl-2"><%= users[i].userName %></span>
                                            </td>
                                            <td> <%= users[i].email %> </td>
                                           <td>
                                                 <% if(users[i].verified==0){ %>
                                                 <span class="pl-2 text-danger">Not verified</span>
                                                 <% } else{ %> 
                                                    <span class="pl-2 text-success">verified</span>
                                                 <% }%>   
                                            </td>
                                            
                                            <td> <%= users[i].accountOpenAt %> </td>
                                            <td>
                                                <!-- Add a data-id attribute with the user's _id -->
                                                <% if (users[i].block == 1) { %>
                                                    <button data-id="<%= users[i]._id %>" onclick="blockButton('<%= users[i]._id %>')"  class="btn btn-inverse-danger">unBlock</button>
                                                    <% } else { %>
                                                        <button data-id="<%= users[i]._id %>" onclick="blockButton('<%= users[i]._id %>')" class="btn btn-inverse-success">block</button>
                                                <% } %>
                                            </td>
                                            
                                            
                                            
                                            <!-- <td>
                                                <a class="btn btn-inverse-info">View Orders</a>
                                            </td> -->
                                            <td>
                                                <a href="/admin/edituser?id=<%= users[i]._id %>" class="btn btn-outline-primary mdi mdi-pencil"></a>
                                            </td>
                                        </tr>
                                    <% } %>
                                        
                                   
                                    
                                    <!-- list -->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">

    </footer>
    <!-- partial -->
</div>
<%- include('../admin/layouts/footer.ejs') %>