<%- include('../user/layouts/header.ejs') %>
    <%- include('../user/layouts/navbar.ejs') %>

        <main class="main">
            <div class="page-header text-center " style="background-image: url('/user/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title text-white">My Account</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Your Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Your Address</li>

                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="container-fluid d-flex flex-column justify-content-center py-5">


                <div class="row p-2 col-12 d-flex justify-content-center" >

                    <div class="card  m-2 col-md-3 col-10 " data-bs-toggle="modal"
                    data-bs-target="#exampleModal" id="addAddressBtn"
                        style="background: #f9f9fc; border-radius: 10px; border: 1px dashed #777777; cursor: pointer; ">
                        <div class="card-body p-0 d-flex justify-content-around align-items-center">
                            <div class="row d-flex flex-column pt-2">
                                <i class="fa-solid fa-plus text-center mb-2" style="font-size: 40px;"></i>
                                <h4 class="text-light">Add-Address</h4>
                                <button id="addBTN" data-bs-toggle="modal" data-bs-target="#addModal" type="button" hidden>add</button>
                            </div>

                        </div>
                    </div>

                    <%for(i in address){%>
                        <div class="card  m-2 col-md-3 col-10 p-4" style="background: #F3F3F9; border-radius: 10px;">
                            <div class="card-body ">
                                <h6 class="card-title" style="font-size: 15px;">
                                    <%=address[i].fullName%>
                                </h6>
                                <p class="card-text">
                                    <%=address[i].city%>, <%=address[i].state%>
                                </p>
                                <p class="card-text">Contanct Number : <%=address[i].mobileNumber%>
                                </p>
                                <p class="card-text">Pincode : <%=address[i].pincode%>, <%=address[i].country%>
                                </p>
                                <hr class="m-0 p-0 my-3">
                                <div class="d-flex justify-content-end ">
                                    <p class="text-dark" type="button" id="editBTN" data-bs-toggle="modal" data-bs-target="#editModal<%=address[i]._id%>">Edit </p>
                                    <p class="mx-3">|</p>
                                    <p class="text-danger" type="button"   data-bs-toggle="modal" data-bs-target="#deleteModal<%=address[i]._id%>">Remove</p>
                                    
                                </div>
                            </div>
                        </div>

                        <!-- model for edit address  -->
                        <!-- address adding model  -->

                        <div class="modal fade" id="editModal<%=address[i]._id%>" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content p-4">
                                    <div class="modal-header">
                                        <h5 class="" id="editModal">Edit Address</h5>
                                        <button type="button" class=" btn-dark " data-bs-dismiss="modal"
                                            aria-label="Close">x</button>
                                    </div>
                                    <form action="/profile/user_address/edit" method="post">
                                        <div class="modal-body p-4">
                                            <div class="mb-1">
                                                <label for="exampleFormControlInput1"
                                                    class="form-label m-0">Country/Region
                                                </label>
                                                <input type="text" class="form-control address-input"
                                                    id="exampleFormControlInput1" name="country" value="<%=address[i].country%>" required>
                                            </div>
                                            <div class="mb-1">
                                                <label for="exampleFormControlInput1" class="form-label m-0">Full name
                                                    (First and Last
                                                    name)
                                                </label>
                                                <input type="text" class="form-control address-input"
                                                    id="exampleFormControlInput1" value="<%=address[i].fullName%>" name="fullName" required>
                                            </div>
                                            <div class="mb-1">
                                                <label for="exampleFormControlInput1" class="form-label m-0">Mobile
                                                    number
                                                </label>
                                                <input type="number" class="form-control address-input"
                                                    id="exampleFormControlInput1" value="<%=address[i].mobileNumber%>" name="mobileNumber" required>
                                            </div>
                                            <div class="mb-1">
                                                <label for="exampleFormControlInput1" class="form-label m-0">Area,
                                                    Street, Sector,
                                                    Village
                                                </label>
                                                <input type="text" class="form-control address-input"
                                                    id="exampleFormControlInput1" value="<%=address[i].city%>" name="city" required>
                                            </div>

                                            <div class=" row ">
                                                <div class=" col-6">
                                                    <label for="exampleFormControlInput1" class="form-label m-0">State
                                                    </label>
                                                    <input type="text" class="form-control address-input"
                                                        id="exampleFormControlInput1" name="state" value="<%=address[i].state%>" required>
                                                </div>
                                                <div class=" col-6">
                                                    <label for="exampleFormControlInput1" class="form-label m-0">Pincode
                                                    </label>
                                                    <input type="number" value="<%=address[i].pincode%>" class="form-control address-input"
                                                        id="exampleFormControlInput1" name="pincode" required>
                                                </div>
                                                <input value="<%=address[i]._id%>" class="form-control address-input"
                                                        id="exampleFormControlInput1" name="adressId" hidden required>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-outline-primary-2" style="border-radius: 7px;"
                                                data-bs-dismiss="modal">Close</a>
                                            <button type="submit" class="btn btn-outline-primary-2"
                                                style="border-radius: 7px; background: #000; color: #fff;">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- model end -->
                        <!-- end edit model -->

                        <!-- delete address model -->
                        <div class="modal fade" id="deleteModal<%=address[i]._id%>" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content p-4">
                                    <div class="modal-header">
                                        <h5 class="" id="editModal">Are you sure to delete this</h5>
                                        <button type="button" class=" btn-dark " data-bs-dismiss="modal"
                                            aria-label="Close">x</button>
                                    </div>
                                    
                                        <div class="card  m-2 col-md-12 col-12 p-4" style="background: #F3F3F9; border-radius: 10px;">
                                            <div class="card-body ">
                                                <h6 class="card-title" style="font-size: 15px;">
                                                    <%=address[i].fullName%>
                                                </h6>
                                                <p class="card-text">
                                                    <%=address[i].city%>, <%=address[i].state%>
                                                </p>
                                                <p class="card-text">Contanct Number : <%=address[i].mobileNumber%>
                                                </p>
                                                <p class="card-text">Pincode : <%=address[i].pincode%>, <%=address[i].country%>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-outline-primary-2" style="border-radius: 7px;"
                                                data-bs-dismiss="modal">Close</a>
                                            <a onclick="removeAddress('<%=address[i]._id%>')" class="btn btn-outline-primary-2"
                                                style="border-radius: 7px; background: #000; color: #fff;">Update</a>
                                        </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- <delete address model end> -->

                        <%}%>





                </div>




            </div>


        </main>

        <!-- address adding model  -->



        <div class="modal fade" id="addModal" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content p-4">
                    <div class="modal-header">
                        <h5 class="" id="exampleModalLabel">Add New Address</h5>
                        <button type="button" class=" btn-dark " data-bs-dismiss="modal" aria-label="Close">x</button>
                    </div>
                    <form action="/profile/user_address" method="post">
                        <div class="modal-body p-4">
                            <div class="mb-1">
                                <label for="exampleFormControlInput1" class="form-label m-0">Country/Region
                                </label>
                                <input type="text" class="form-control address-input" id="exampleFormControlInput1"
                                    name="country" required>
                            </div>
                            <div class="mb-1">
                                <label for="exampleFormControlInput1" class="form-label m-0">Full name (First and Last
                                    name)
                                </label>
                                <input type="text" class="form-control address-input" id="exampleFormControlInput1"
                                    name="fullName" required>
                            </div>
                            <div class="mb-1">
                                <label for="exampleFormControlInput1" class="form-label m-0">Mobile number
                                </label>
                                <input type="number" class="form-control address-input" id="exampleFormControlInput1"
                                    name="mobileNumber" required>
                            </div>
                            <div class="mb-1">
                                <label for="exampleFormControlInput1" class="form-label m-0">Area, Street, Sector,
                                    Village
                                </label>
                                <input type="text" class="form-control address-input" id="exampleFormControlInput1"
                                    name="city" required>
                            </div>

                            <div class=" row ">
                                <div class=" col-6">
                                    <label for="exampleFormControlInput1" class="form-label m-0">State
                                    </label>
                                    <input type="text" class="form-control address-input" id="exampleFormControlInput1"
                                        name="state" required>
                                </div>
                                <div class=" col-6">
                                    <label for="exampleFormControlInput1" class="form-label m-0">Pincode
                                    </label>
                                    <input type="number" class="form-control address-input"
                                        id="exampleFormControlInput1" name="pincode" required>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-outline-primary-2" style="border-radius: 7px;"
                                data-bs-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-outline-primary-2"
                                style="border-radius: 7px; background: #000; color: #fff;">Add
                                now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- model end -->

        <script>
            let addressBTN = document.getElementById("addAddressBtn")
            let modelBTN = document.getElementById("addBTN")

            addressBTN.addEventListener("click", function () {
                modelBTN.click()
            })
        </script>

        <%- include('../user/layouts/footer.ejs') %>