<%- include('../user/layouts/header.ejs') %>
    <%- include('../user/layouts/navbar.ejs') %>


        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                    </ol>

                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom"
                                                src="/products/images/<%= product[0].images.image1 %>"
                                                data-zoom-image="/products/images/<%= product[0].images.image1 %>"
                                                alt="product image">

                                            <!-- <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                        <i class="icon-arrows"></i>
                                    </a> -->
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <a class="product-gallery-item active" href="#"
                                                data-image="/products/images/<%= product[0].images.image1 %>"
                                                data-zoom-image="/products/images/<%= product[0].images.image1 %>">
                                                <img src="/products/images/<%= product[0].images.image1 %>"
                                                    alt="product side">
                                            </a>

                                            <a class="product-gallery-item" href="#"
                                                data-image="/products/images/<%= product[0].images.image2 %>"
                                                data-zoom-image="/products/images/<%= product[0].images.image2 %>">
                                                <img src="/products/images/<%= product[0].images.image2 %>"
                                                    alt="product cross">
                                            </a>

                                            <a class="product-gallery-item" href="#"
                                                data-image="/products/images/<%= product[0].images.image3 %>"
                                                data-zoom-image="/products/images/<%= product[0].images.image3 %>">
                                                <img src="/products/images/<%= product[0].images.image3 %>"
                                                    alt="product with model">
                                            </a>

                                            <a class="product-gallery-item" href="#"
                                                data-image="/products/images/<%= product[0].images.image4 %>"
                                                data-zoom-image="/products/images/<%= product[0].images.image4 %>">
                                                <img src="/products/images/<%= product[0].images.image4 %>"
                                                    alt="product back">
                                            </a>
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">
                                        <%= product[0].product_name %>
                                    </h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link"></a>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                        ₹<%= product[0].price%>
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p>
                                            <%= product[0].description%>
                                        </p>
                                    </div><!-- End .product-content -->

                                    <div class="details-filter-row details-row-size">
                                        <span>Frame Shape : <b>
                                                <%= product[0].frame_shape %>
                                            </b></span>

                                        <div class="product-nav product-nav-thumbs">
                                            <p></p>

                                        </div><!-- End .product-nav -->
                                    </div><!-- End .details-filter-row -->




                                    <div class="product-details-action">
                                        <%if(product[0].stock==0){%>
                                        <button class="btn-product btn-cart text-danger" disabled><span>No Stock</span></button>
                                        <%}else{%>
                                            <button onclick="addCart('<%= product[0]._id %>','<%= user %>')"
                                                class="btn-product btn-cart"><span>add to cart</span></button>
                                        <%}%>    
                                        <div class="details-action-wrapper">
                                            <a style="cursor: pointer;" onclick="addWishlist('<%= product[0]._id %>')" class="btn-product btn-wishlist" title="Wishlist"  ><span>Add to
                                                    Wishlist</span></a>
                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a><%= product[0].gender %></a>
                                        </div><!-- End .product-cat -->

                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">Share:</span>
                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                                    class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                                    class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                                    class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                                    class="icon-pinterest"></i></a>
                                        </div>
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->


                    <hr>
                    <!-- <h2 class="title text-center mb-4">You May Also Like</h2>End .title text-center -->
                    <h2 class="title text-center mb-4">Related Products</h2><!-- End .title text-center -->


                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true,
                            "dots": false
                        }
                    }
                }'>

                        <% relatedProducts.forEach((pro)=>{ %>
                            <div class="product product-7 text-center">
                                <figure class="product-media">
                                    <!-- <span class="product-label label-out">Out of Stock</span> -->
                                    <a href="/product?id=<%= pro._id %>">
                                        <img src="/products/images/<%= pro.images.image1 %>" alt="Product image"
                                            class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                                wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <%if(pro.stock==0){%>
                                            <a  class="btn-product btn-cart text-danger"><span>No Stock</span></a>
                                            <%}else{%>
                                                <a onclick="addCart('<%= pro._id %>','<%= user %>')" class="btn-product btn-cart"><span>add to cart</span></a>

                                            <%}%>  
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">
                                            <%= pro.frame_shape %>
                                        </a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a href="/product?id=<%= pro._id %>">
                                            <%= pro.product_name %>
                                        </a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        <span class="out-price">₹<%= pro.price %></span>
                                    </div><!-- End .product-price -->
                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->

                                    </div><!-- End .rating-container -->
                                </div><!-- End .product-body -->
                            </div><!-- End .product -->
                            <% }) %>



                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <!-- <script>
            // Function to show the alert box
            function showAlertBox() {
                $("#cartAlert").fadeIn();
        
                // Hide the alert box after 5 seconds
                setTimeout(function () {
                    $("#cartAlert").fadeOut();
                }, 5000);
            }
        
            // Call the showAlertBox function when necessary
            // showAlertBox();
        </script> -->

        <%- include('../user/layouts/footer.ejs') %>

            <!-- <span>
                <div id="cartAlert" data-aos="fade-up" class="alert  col-md-3 col-4 text-white  fixed-bottom "
                style="left: 40%; bottom:80px; border-radius: 7px; opacity: 0.9; background-color: rgb(85, 85, 85);" role="alert">
                
                    <div class="d-flex justify-content-center">
                        <dotlottie-player src="https://lottie.host/b0e85bf2-581b-4d27-8dd5-0c0e4b495dc2/QjXQ7zZA3T.json"
                            background="transparent" speed="0.7" style="width: 50px; height: 50px;" direction="1" 
                            autoplay></dotlottie-player>
                            <p class="alert-heading d-flex align-items-center">
                            Product Added to Your Cart
                            </p>
                    </div>
             </div>
            </span> -->
            <!-- <div id="cartAlert" data-aos="fade-up" class="alert col-md-3 col-4 text-white fixed-bottom" style="display: none; left: 40%; bottom: 80px; border-radius: 7px; opacity: 0.9; background-color: rgb(85, 85, 85);" role="alert">
                <div class="d-flex justify-content-center">
                    <dotlottie-player src="https://lottie.host/b0e85bf2-581b-4d27-8dd5-0c0e4b495dc2/QjXQ7zZA3T.json" background="transparent" speed="0.7" style="width: 50px; height: 50px;" direction="1" autoplay></dotlottie-player>
                    <p class="alert-heading d-flex align-items-center">Product Added to Your Cart</p>
                </div>
            </div>

            <div id="cartAlertAlready" data-aos="fade-up" class="bg-dark alert col-md-3 col-4 text-white fixed-bottom" style="display: none; left: 40%; bottom: 80px; border-radius: 7px; ; " role="alert">
                <div class="d-flex justify-content-center">
                    <dotlottie-player src="https://lottie.host/675b522a-b663-4399-9a90-0f4800918a0f/JWak9AXJkj.json" background="transparent" speed="1" style="width: 50px; height: 50px;" direction="1" loop autoplay></dotlottie-player>
                    <p class="alert-heading d-flex align-items-center " >This product Already in Your Cart</p>
                </div>
            </div>

            


            <script src='https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js'></script>
            <script>
                var animation = bodymovin.loadAnimation({
                    container: document.getElementById('animContainer'),
                    renderer: 'svg',
                    loop: true,
                    autoplay: true,
                    path: 'https://lottie.host/87abf9d2-a834-4f06-b667-26985786b0ba/0vh9JAhgi8.json' // lottie file path
                })
            </script> -->