<%- include('../user/layouts/header.ejs') %>
    <%- include('../user/layouts/navbar.ejs') %>


        <main class="main">
            <div class="page-header text-center " style="background-image: url('user/images/page-header-bg.jpg')"   >
                <div class="container">
                    <h1 class="page-title text-white">My Account</h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                            href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                            aria-selected="true">My Profile</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                </li> -->
                                    <!-- <li class="nav-item">
                                    <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                                </li> -->

                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                            role="tab" aria-controls="tab-account" aria-selected="false">Edit
                                            Details</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                            role="tab" aria-controls="tab-address" aria-selected="false">Change
                                            Password</a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                        aria-labelledby="tab-dashboard-link">
                                        <h6 class="text-center fs-1 font-monospace text-decoration-underline ">My
                                            Profile</h6>

                                        <!-- display the user data on profile page -->
                                        <form action="#">
                                            <div class="form-group">
                                                <!-- Hidden file input -->


                                                <!-- Dummy user profile image, which is also a clickable link to trigger file input -->
                                                <label class="image-label">
                                                    <div class="rounded-image-preview">
                                                        <img <% if(user.image){%>
                                                        src="user/images/userImages/<%= user.image %>"
                                                            <%}else{%>
                                                                src="user/images/dummy-profile-pr.jpg"
                                                                <%}%>
                                                                    alt="Preview" />
                                                    </div>
                                                </label>
                                            </div>
                                            <!-- <p><%= user %>  dfd</p> -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>user Name </label>
                                                    <input type="text" class="form-control" value="<%= user.userName %>"
                                                        disabled>

                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Full Name </label>
                                                    <input type="text" class="form-control" value="<%= user.fullName %>"
                                                        disabled>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <label>Email address </label>
                                            <input type="email" class="form-control" value="<%= user.email %>" disabled>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Shipping Address *</label>
                                                    <input type="text" class="form-control"
                                                        value="<%= user.address.shippingAddress %>"
                                                        name="shippingAddress" disabled>
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>State </label>
                                                    <input type="text" class="form-control" name="state"
                                                        value="<%= user.address.state %>" disabled>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Pin Code </label>
                                                    <input type="number" class="form-control"
                                                        value="<%= user.address.pincode %>" name="pincode" disabled>
                                                </div><!-- End .col-sm-6 -->


                                            </div>




                                        </form>
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                        aria-labelledby="tab-orders-link">
                                        <p>No order has been made yet.</p>
                                        <a href="category.html" class="btn btn-outline-primary-2"><span>GO
                                                SHOP</span><i class="icon-long-arrow-right"></i></a>
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                        aria-labelledby="tab-downloads-link">
                                        <p>No downloads available yet.</p>
                                        <a href="category.html" class="btn btn-outline-primary-2"><span>GO
                                                SHOP</span><i class="icon-long-arrow-right"></i></a>
                                    </div><!-- .End .tab-pane -->

                                    <!-- change password area -->
                                    <!-- <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                        aria-labelledby="tab-address-link">



                                        <h6 class=" fs-1 font-monospace  ">Change Password</h6>

                                        <form action="/changepassword" method="post">
                                            <div class="form-group">


                                                


                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>Old Password </label>
                                                        <input type="text" name="oldPassword" class="form-control">

                                                    </div>

                                                    <div class="col-sm-6">
                                                        <label>Create New Password </label>
                                                        <input type="text" name="newPassword" class="form-control">
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn btn-outline-primary-2">
                                                    <span>CHANGE PASSWORD</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>




                                        </form>
                                    </div> -->

                                    <!-- account tab details -->
                                    <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                        aria-labelledby="tab-account-link">
                                        <h6 class="text-center fs-1 font-monospace text-decoration-underline ">Edit
                                            Details</h6>
                                        <!-- <form action="/updatePhoto" method="post" enctype="multipart/form-data"> -->

                                        <!-- user profile  -->
                                        <!-- <div class="form-group"> -->
                                        <!-- Hidden file input -->
                                        <!-- <input type="file" class="form-control-file" name="image"
                                                    id="imageUpload" accept="image/*" style="display: none;"> -->

                                        <!-- Dummy user profile image, which is also a clickable link to trigger file input -->
                                        <!-- <label for="imageUpload" class="image-label">
                                                    <div class="rounded-image-preview">
                                                        <img id="imagePreview" <% if(user.image){%>
                                                        src="user/images/userImages/<%= user.image %>"
                                                            <%}else{%>
                                                                src="user/images/dummy-profile.jpg"
                                                                <%}%>
                                                                    alt="Preview" />
                                                    </div>
                                                    <div>
                                                        <button type="submit" id="updateAvatarButton"
                                                            class="btn btn-outline-dark" disabled>click to update
                                                            Avatar</button>

                                                    </div>
                                                </label> -->

                                        <!-- </div> -->
                                        <!-- </form> -->
                                        <form action="/updatePhoto" method="post" enctype="multipart/form-data">
                                            <!-- user profile -->
                                            <div class="form-group">
                                                <!-- Hidden file input -->
                                                <input type="file" class="form-control-file" name="image"
                                                    id="imageUpload" accept="image/*" style="display: none;">

                                                <!-- Dummy user profile image, which is also a clickable link to trigger file input -->
                                                <label for="imageUpload" class="image-label">
                                                    <div class="rounded-image-preview">
                                                        <img id="imagePreview" <% if (user.image) { %>
                                                        src="user/images/userImages/<%= user.image %>"
                                                            <% } else { %>
                                                                src="user/images/dummy-profile.jpg"
                                                                <% } %>
                                                                    alt="Preview" />
                                                    </div>
                                                    
                                                      

                                                    <div>
                                                        <button type="submit" id="updateAvatarButton"
                                                            class="btn btn-outline-dark" disabled>click to update
                                                            Avatar</button>
                                                    </div>
                                                </label>
                                            </div>
                                        </form>

                                        <form action="/updateUser" method="post">

                                            <!-- profile end -->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>user Name *</label>
                                                    <input type="text" class="form-control" value="<%= user.userName %>"
                                                        name="userName">
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Full Name *</label>
                                                    <input type="text" class="form-control" name="fullName"
                                                        value="<%= user.fullName %>">
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <label>Email address *</label>
                                            <input type="email" class="form-control" name="email"
                                                value="<%= user.email %>">

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Shipping Address *</label>
                                                    <input type="text" class="form-control"
                                                        value="<%= user.address.shippingAddress%>"
                                                        name="shippingAddress">
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>State *</label>
                                                    <input type="text" class="form-control" name="state"
                                                        value="<%= user.address.state %>">
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Pin Code *</label>
                                                    <input type="number" class="form-control"
                                                        value="<%= user.address.pincode %>" name="pincode">
                                                </div><!-- End .col-sm-6 -->


                                            </div>
                                            <!-- <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small> -->


                                            <!-- <label>Current password (leave blank to leave unchanged)</label>
                                                             <input type="password" class="form-control">

                                                             <label>New password (leave blank to leave unchanged)</label>
                                                             <input type="password" class="form-control">

                                                             <label>Confirm new password</label>
                                                             <input type="password" class="form-control mb-2"> -->

                                            <button type="submit" class="btn btn-outline-primary-login">
                                                <span>SAVE CHANGES</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                        <hr>
                                        <h6 class=" fs-1 font-monospace  ">Change Password</h6>

                                        <!-- display the user data on profile page -->
                                        <form action="/changepassword" method="post">
                                            <div class="form-group">
                                                <!-- Hidden file input -->


                                                <!-- Dummy user profile image, which is also a clickable link to trigger file input -->


                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <label>Current Password </label>
                                                        <input type="text" name="oldPassword" class="form-control" required>

                                                    </div><!-- End .col-sm-6 -->

                                                    <div class="col-sm-6">
                                                        <label>Create New Password </label>
                                                        <input type="text" name="newPassword" class="form-control" required>
                                                    </div><!-- End .col-sm-6 -->
                                                </div><!-- End .row -->

                                                <button type="submit" class="btn btn-outline-primary-login">
                                                    <span>CHANGE PASSWORD</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>




                                        </form>
                                    </div><!-- .End .tab-pane -->

                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


        <%- include('../user/layouts/footer.ejs') %>

            <!-- <div class="alert alert-success fixed-top" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <hr>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
          </div> -->

            <%if(updatePass==1){%>
                <div id="myAlert" data-aos="fade-down" class="alert alert-success col-3 fixed-top "
                    style="left: 20px; top:20px; border-radius: 7px; opacity: 0.9;" role="alert">
                    <h6 class="alert-heading">Password Successfully Updated</h6>
                    <p class="fs-6 form-text text-white">Your password has been successfully updated.</p>
                </div>
                <%}else if(updatePassErr==1){%>
                    <div id="myAlert" data-aos="fade-down" class="alert alert-danger col-3 fixed-top "
                        style="left: 20px; top:20px; border-radius: 7px; opacity: 0.9;" role="alert">
                        <h6 class="alert-heading">Password not match</h6>
                        <p class="fs-6 form-text text-white">Please enter your Correct password.</p>
                    </div>
                    <%}%>